# Python
__pycache__/
*.pyc
.venv/
venv/

# Airflow logs and local state
airflow_logs/
logs/
airflow.db

# Docker / OS
.DS_Store

# IDE
.vscode/
.idea/

# Data (usually should not be committed)
data/
*.csv
*.parquet
*.zip
*.xlsx

# Local secrets
.env
.env.*
